{% load static %}
<div class="blog-author">
            <div class="media align-items-center">
              <img src="{% static 'img/blog/author.png' %}" alt="">
              <div class="media-body">
                <a href="#">
                  <h4>{{ post.author.username }}</h4>
                </a>
                <p>
                    A fashion enthusiast passionate about helping women build effortless, confidence-boosting wardrobes. I share simple style principles and real-life outfit ideas to make dressing easier and more enjoyable.
                </p>
              </div>
            </div>
          </div>